{% extends 'shared/base.html' %}

{% block title %}Add new trip{% endblock %}

{% block additionalScripts %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static "scripts/kendoUi/styles/kendo.common.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "scripts/kendoUi/styles/kendo.default.min.css" %}" type="text/css"/>
    
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2"></script>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script src="{% static "scripts/kendoUi/js/kendo.web.min.js" %}"></script>
    <script src="{% static "scripts/bingMaps.js" %}"></script>
    <script src="{% static "scripts/effects/popUpEffect.js" %}"></script>
    <script src="{% static "scripts/utils/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block menu %}
        <div class="navbar">
            <div class="navbar-inner">
                <nav class="container">
                    <a class="brand pull-right" href="/"> Carbon Emissions </a>
                    {% include 'shared/includes/loginControllers.html' %}
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="active">
                            <a href="">Add Trip</a>
                        </li>
                        <li>
                            <a href="/trips/">View Trips</a>
                        </li>
                        <li>
                            <a href="/report/">Carbon Footprints Report</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
{% endblock %}
        
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a><span class="divider">/</span>
        </li>
        <li class="active">
            <a href="/">Add Trip</a><span class="divider">/</span>
        </li>
    </ul>
{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">
    Please correct the error{{ form.errors|pluralize }} below
</p>
{% endif %}

<div id="trip-creation-container">
    <h1>Add a new trip</h1>
    <script type="text/x-handlebars">
        {{view App.AddTripView 
        }}
        <button {{action "collateUserInput" target="App.tripManagerController" 
    }} class="btn btn-inverse form-btn"  data-loading-text="Storing..." onclick="return false;">Store trip</button>
    </script>
</div>

<!--The template of the main add trip view (App.AddTripView)-->
<script type="text/x-handlebars" data-template-name="add-trip-view">
    <div class="form-element">
        <label class="form-field-label">What is the name of the trip: </label>
        <!--render the child view template which is declared below-->
        {{view App.CustomTextField valueBinding="App.tripManagerController.name" required="required"
        }}
    </div>
    <div class="form-element">
        <label class="form-field-label">What is the type of the trip: </label>
        <!--render the child view template which is declared below-->
        {{view App.CustomSelect  contentBinding="App.tripTypeOptions"
                    selectionBinding="App.tripManagerController.type"
                    prompt="Please Select"
                    required="required"
        }}
    </div>
     <div class="form-element">
        <label class="form-field-label">Date: </label>
        <!--render the child view template which is declared below-->
        {{view App.CustomTextField valueBinding="App.tripManagerController.date" name="tripDate" elementId="dateTimePicker"
        }}
    </div>
    <div class="form-element">
        <label class="form-field-label">How many trip legs does the trip has: </label>
        <!--render the child view template which is declared below-->
        {{view App.CustomSelect contentBinding="App.numOfTripLegOptions"
                    selectionBinding="App.addTripView.selectedValue"
                    prompt="Please Select"
                    class="comboBox"
        }}
    </div>
    <hr class="clear"/>
    <div id="trip-legs"></div>
</script>

<!--Template containing the form elements of each trip leg. Child of App.AddTripView--->
<script type="text/x-handlebars" data-template-name="trip-leg-view">
    <h1>Trip {{App.tripManagerController.name
    	}} Trip Leg {{step
    	}}</h1>
    <!--Container for the maps that dynamically appear-->
    <div {{bindAttr id="popupContactId"
    }} class="popupContact">
        <h1>Locate your address on the map</h1>
        <p id="contactArea">{% include 'shared/includes/bingMaps.html' %}</p>
    </div>
    <div id="backgroundPopup"></div>
    
    <h2>Addresses</h2>
    <div class="form-element">
    	<label class="form-field-label">Source: </label>
        {{view App.AddressTextField  class="startAddress" valueBinding="startAddress.street" 
    	}}
    </div>
    <div class="form-element">
        <label class="form-field-label">Visibility: </label>
        {{view Em.Select contentBinding="App.addressVisibilityOptions"
                    selectionBinding="startAddrVisibility"
                    prompt="Please Select"
        }}
    </div>
    <div class="form-element">
        <label class="form-field-label">Destination: </label>
        {{view App.AddressTextField class="endAddress" valueBinding="endAddress.street" 
        }}
    </div>
    <!--<div>
        <span class="form-field-label">Address name: </span>
        {{view Em.TextField valueBinding="addressName"
        }}
    </div>-->
    <div class="form-element">
        <label class="form-field-label">Visibility: </label>
        {{view Em.Select contentBinding="App.addressVisibilityOptions"
                    selectionBinding="endAddrVisibility"
                    prompt="Please Select"
        }}
    </div>
    <h2>Transport Mean</h2>
    <div class="form-element">
        <label class="form-field-label">Type: </label>
        <!--Bind selection value to the type property of this App.addTripView instance. That's why we use temp and not App.AddTripView.temo
        	because bindings to class property does not work!-->
        {{view Em.Select contentBinding="App.transportMeanOptions"
                    selectionBinding="transportMeanType"
                    prompt="Please Select"
        }}
    </div>
    
    <div {{bindAttr id="transportMeanContainerId" 
    }}></div>
    
    <hr />
</script>

<!--Template containing the form elements populated by car data from data base. Child of App.TripLegView -->
<script type="text/x-handlebars" data-template-name="car-view">
    <div class="form-element">
        <label class="form-field-label">manufacturer: </label>
        {{view Em.Select contentBinding="manufacturers"
                    selectionBinding="manufacturer"
                    prompt="Please Select"
        }}
    </div>
     <div class="form-element">
        <label class="form-field-label">Model: </label>
        {{view Em.Select contentBinding="models"
                    selectionBinding="model"
                    prompt="Please Select"
        }}
    </div>
     <div class="form-element">
        <label class="form-field-label">Description: </label>
        {{view Em.Select contentBinding="descriptions"
                    selectionBinding="description"
                    prompt="Please Select"
        }}
    </div>
    <div class="form-element">
        <label class="form-field-label">Engine Capacity: </label>
        {{view Em.Select contentBinding="engineCapacities"
                    selectionBinding="engineCapacity"
                    prompt="Please Select"
        }}
    </div>
    <div class="form-element">
        <label class="form-field-label">Transmission: </label>
        {{view Em.Select contentBinding="transmissions"
                    selectionBinding="transmission"
                    prompt="Please Select"
        }}
    </div>
    <div class="form-element"> 
        <label class="form-field-label">Fuel Type: </label>
        {{view Em.Select contentBinding="fuelTypes"
                    selectionBinding="fuelType"
                    prompt="Please Select"
        }}
        
    </div>
    <div class="form-element">
        <span class="label label-warning">If you can't find a specific car model select a general description</span>
        <button class="inline-to-block btn btn-danger form-btn" {{action "showAddNewCarForm"
        }}>Select a general car</button>
    </div>
</script>

<!--Template containing the form elements for adding a new car. Child of App.TripLegView -->
<script type="text/x-handlebars" data-template-name="general-car-view">
	<div class="form-element">
        <label class="form-field-label">Fuel Type: </label>
        {{view Em.Select contentBinding="App.fuelTypes"
                         selectionBinding="fuelType"
                         prompt="Please Select"
        }}
    </div>
	 <div class="form-element">
        <label class="form-field-label">description: </label>
        {{view Em.Select contentBinding="descriptions"
                         selectionBinding="description"
                         prompt="Please Select"
        }}
   </div>
    <div class="form-element">
        <label class="label label-warning">Select a specific car model:</label>
        <button class="inline-to-block btn btn-danger form-btn" {{action "showCarListForm"
        }}>Select from list</button>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="bus-view">
	<div class="form-element">
		<label class="form-field-label">Bus Type:</label>
		{{view Em.Select contentBinding="descriptions"
		                 selectionBinding="description"
		                 prompt="Please Select"
		}}
	</div>
</script>

<script type="text/x-handlebars" data-template-name="taxi-view">
    <div class="form-element">
        <label class="form-field-label">Taxi Type:</label>
        {{view Em.Select contentBinding="descriptions"
                         selectionBinding="description"
                         prompt="Please Select"
        }}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="motorcycle-view">
    <div class="form-element">
        <label class="form-field-label">Motorcycle Type:</label>
        {{view Em.Select contentBinding="descriptions"
                         selectionBinding="description"
                         prompt="Please Select"
        }}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="ferry-view">
    <div class="form-element">
        <label class="form-field-label">Ferry Type:</label>
        {{view Em.Select contentBinding="descriptions"
                         selectionBinding="description"
                         prompt="Please Select"
        }}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="rail-view">
    <div class="form-element">
        <label class="form-field-label">Rail Type:</label>
        {{view Em.Select contentBinding="descriptions"
                         selectionBinding="description"
                         prompt="Please Select"
        }}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="aviation-view">
    <div class="form-element">
        <label class="form-field-label">Flight Type:</label>
        {{view Em.Select contentBinding="descriptions"
                         selectionBinding="description"
                         prompt="Please Select"
        }}
    </div>  
    <div class="form-element">
        <label class="form-field-label">Cabin Class:</label>
        {{view Em.Select contentBinding="cabinClasses"
                         selectionBinding="cabinClass"
                         prompt="Please Select"
        }}
    </div>
</script>

<!--Map used to get the driving distance. It is not viisble to users-->
<div id="tempMap" style="display:none;"></div>
<!--The gif and message container, informing users about the actions that take place-->
<div id="msg-container">
	<img id="ajax-preloader" src="{% static "images/ajax-loader.gif" %}" />
	<div id="redirection-alert">
		You will be redirected in <span id="secs"></span> sec to the home page
	</div>
</div>

{% endblock %}
