{% extends 'shared/base.html' %}

{% block title %}Graphs {%endblock %}

{% block additionalScripts %}
{% load staticfiles %}
<script src="{% static "scripts/visualization/Jit/jit-yc.js" %}"></script>
<script src="{% static "scripts/testGraph.js" %}"></script>
<script src="{% static "scripts/testCharts.js" %}"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<style type="text/css">
	#infovis {
		position: relative;
		width: 600px;
		height: 600px;
		margin: auto;
		overflow: hidden;
	}

	#center-container {
		width: 600px;
		left: 200px;
		background-color: #1A1A1A;
		color: #CCC;
	}
</style>
{% endblock %}

{% block content %}
<div id="center-container">
    <div id="infovis"></div>
</div>
<div id="log"></div>
<div id="right-container"></div>
<div id="inner-details"></div>


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock %}
