{% extends 'shared/base.html' %}

{% block title %}Carbon Footprint Report{% endblock %}

{% block additionalScripts %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "scripts/kendoUi/styles/kendo.common.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "scripts/kendoUi/styles/kendo.default.min.css" %}" type="text/css"/>
    
    <script src="{% static "scripts/visualization/highcharts/highcharts.js" %}"></script>
    <script src="{% static "scripts/visualization/highcharts/modules/exporting.js" %}"></script>
    
    <!-- Additional files for the Highslide popup effect -->
    <script type="text/javascript" src="{% static "scripts/visualization/highslide/highslide-full.min.js" %}"></script>
    <!--<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static "scripts/visualization/highslide/highslide.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "scripts/effects/jqueryUi/css/ui-lightness/jquery-ui-1.8.23.custom.css" %}" />
    
    <script src="{% static "scripts/kendoUi/js/kendo.web.min.js" %}"></script>
    <script src="{% static "scripts/effects/jqueryUi/js/jquery-ui-1.8.23.custom.min.js" %}"></script>
     
    <script src="{% static "scripts/visualization/chart.js" %}"></script>
    <script src="{% static "scripts/effects/popUpEffect.js" %}"></script>
    <script src="{% static "scripts/utils/date.js" %}"></script>
    <script src="{% static "scripts/utils/util.js" %}"></script>
    
    <script src="{% static "scripts/visualization/Jit/jit-yc.js" %}"></script>
    <script src="{% static "scripts/visualization/provGraphs.js" %}"></script>
{% endblock %}

{% block menu %}
        <div class="navbar">
            <div class="navbar-inner">
                <nav class="container">
                    <a class="brand pull-right" href="/"> Carbon Emissions </a>
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="/add-trip/">Add Trip</a>
                        </li>
                        <li>
                            <a href="/trips/">View Trips</a>
                        </li>
                        <li class="active">
                            <a href="/report/">Carbon Footprints Report</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a><span class="divider">/</span>
        </li>
        <li class="active">
            <a href="/">Carbon Emissions Report</a><span class="divider">/</span>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <section id="chartContainer"></section>
    
     <script type="text/x-handlebars" data-template-name="ghg-per-trip-leg">
     	<section class="stats">
     		<h1>Individual Stats</h1>
     		<ul>
     			 <li>Number of trips made: <span>{{stats.individual.numOfTrips}}</span></li>
     		     <li>Total GHG emissions: <span>{{stats.individual.total}} Kg CO2e<span></li>
     		     <li>Min GHG emissions: <span>{{stats.individual.min}} Kg CO2e</span></li>
     		     <li>Max GHG emissions: <span>{{stats.individual.max}}</span></li>
     		     <li>Average GHG emissions per trip: <span>{{stats.individual.avg}}</span></li>
     		</ul>
     	</section>
        <div class="date-range-picker">
            <label for="from" class="form-field-label">From: </label>
            {{view App.CustomTextField valueBinding="from"  class="inline fromDate"
            }}
        
            <label for="until" class="form-field-label">Until: </label>
            {{view App.CustomTextField valueBinding="until"  class="inline untilDate"
            }}
        </div>
        
        <br class="clear"/>
        
        <div id="tripLegChart" style="min-width: 400px; height: 400px; margin: 0 auto">
            <img id="ajax-preloader" src="{% static "images/ajax-loader.gif" %}" />
        </div>
        
        <hr />
    </script>
    
     <script type="text/x-handlebars" data-template-name="ghg-per-trip">
        <div class="date-range-picker">
            <label for="from" class="form-field-label">From: </label>
            {{view App.CustomTextField valueBinding="from"  class="inline fromDate"
            }}
        
            <label for="until" class="form-field-label">Until: </label>
            {{view App.CustomTextField valueBinding="until" class="inline untilDate"
            }}
        </div>
        
        <br class="clear"/>
    
        <div id="tripChart" style="min-width: 400px; height: 400px; margin: 0 auto">
            <img id="ajax-preloader" src="{% static "images/ajax-loader.gif" %}" />
        </div>
        <hr />
    </script>
    
    <script type="text/x-handlebars" data-template-name="ghg-per-tranpsport-mean">
        <div class="date-range-picker">
            <label for="from" class="form-field-label">From: </label>
            {{view App.CustomTextField valueBinding="from"  class="inline fromDate"
            }}
        
            <label for="until" class="form-field-label">Until: </label>
            {{view App.CustomTextField valueBinding="until" class="inline untilDate"
            }}
        </div>
    
        <div id="transportMeanChart" style="min-width: 400px; height: 400px; margin: 0 auto">
            <img id="ajax-preloader" src="{% static "images/ajax-loader.gif" %}" />
        </div>
        <hr />
    </script>
    
     <script type="text/x-handlebars" data-template-name="group-ghg">
     	<section class="stats">
            <h1>Group Stats</h1>
            <ul>
            	 <li>Number of trips made: <span>{{stats.group.numOfTrips}}</span></li>
                 <li>Total GHG emissions: <span>{{stats.group.total}} Kg CO2e</span></li>
                 <li>Min GHG emissions: <span>{{stats.group.min}} Kg CO2e</span></li>
                 <li>Max GHG emissions: <span>{{stats.group.max}} Kg CO2e</span></li>
                 <li>Average GHG emissions per trip: <span>{{stats.group.avg}} Kg CO2e</span></li>
            </ul>
        </section>
        <div class="date-range-picker">
            <label for="from" class="form-field-label">From: </label>
            {{view App.CustomTextField valueBinding="from"  class="inline fromDate"
            }}
        
            <label for="until" class="form-field-label">Until: </label>
            {{view App.CustomTextField valueBinding="until" class="inline untilDate"
            }}
        </div>
    
        <div id="groupChart" style="min-width: 400px; height: 400px; margin: 0 auto">
            <img id="ajax-preloader" src="{% static "images/ajax-loader.gif" %}" />
        </div>
    </script>
    
    <div id="prov-graph-container">
    	<div id="controllers">
	    	<a href="#" id="button" class="ui-state-default ui-corner-all invisible">View Alternative Graph</a>
	        <img id="ajax-preloader" class="invisible" src="{% static "images/ajax-loader.gif" %}" />
	        <img id="static-prov-graph" class="invisible" src="" />
        </div>
        
        <div id="center-container">
            <div id="infovis"></div>
        </div>
        <div id="log"></div>
        <div id="right-container"></div>
        <div id="inner-details"></div>
    </div>
    <div id="backgroundPopup"></div>

{% endblock %}
