{% extends base %}

{% block title %}Trips made by {{name}} {{surname}}{% endblock %}

{% block additionalScripts %}
    {% load staticfiles %}

	<link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css"/>
	<link rel="stylesheet" href="{% static "scripts/kendoUi/styles/kendo.common.min.css" %}" type="text/css"/>
	<link rel="stylesheet" href="{% static "scripts/kendoUi/styles/kendo.default.min.css" %}" type="text/css"/>
	
	<script src="{% static "scripts/kendoUi/js/kendo.web.min.js" %}"></script>
	<script src="{% static "scripts/utils/pagination.js" %}"></script>
	
	{% if mobileDevice %}
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    {% endif %}
{% endblock %}

{% block menu %}
        <div class="navbar">
            <div class="navbar-inner">
                <nav class="container">
                    <a class="brand pull-right" href="/"> Carbon Emissions </a>
                    {% include 'shared/includes/loginControllers.html' %}
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="/add-trip/">Add Trip</a>
                        </li>
                        <li class="active">
                            <a href="/trips/">View Trips</a>
                        </li>
                        <li>
                            <a href="/report/">Carbon Footprints Report</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a><span class="divider">/</span>
        </li>
        <li class="active">
            <a href="/">User Trips</a><span class="divider">/</span>
        </li>
    </ul>
{% endblock %}

{% block content %}

{% if mobileDevice %}
<div data-role="page" id="addTrip">
    <div data-role="header" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="/add-trip" data-role="button" rel="external"  data-icon="plus"  >Add Trips</a></li>
                <li><a href="/trips" data-role="button" data-icon="search" rel="external" class="ui-btn-active ui-state-persist">Trips</a></li>
                <li><a href="/report" data-role="button" data-icon="star" rel="external">Report</a></li>   
            </ul>
        </div>
    </div>
{% endif %}
<div id="forecast">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">Car Model</li>
            <li>Car</li>
            <li>Bus</li>
            <li>Taxi</li>
            <li>Rail</li>
            <li>Motorcycle</li>
            <li>Ferry</li>
            <li>Aviation</li>
        </ul>
        <div>
            <div class="tab">
                <h2>Trips made with a specific car model</h2> 
                <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
              
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with a car</h2>
                 <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with a bus</h2>
                 <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with a taxi</h2>
                <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with a train</h2>
                <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with a motorcycle</h2>
                <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with a ferry</h2>
                <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
        <div>
            <div class="tab">
                <h2>Trips made with an airplane</h2>
		        <script type="text/x-handlebars">
                    {{view App.TripInfoView class="tripInfo"
                    }}
                </script>
            </div>
        </div>
    </div>
</div>
<script type="text/x-handlebars" data-template-name="tripInfoView">
    <dl>
    	{{#each App.tripInfoController.pageInfo.trips
    	}}
    	   <dt>{{name
    	   	}} - {{date
    	   		}}</dt>
    	   <dd><ul>{{#each tripLegs
    	   	    }}   
    	   	   <li>From: <span>{{from
    	   	   	}}</span><li/> 
    	   	   	<li>To: <span>{{to
    	   	   		}}</span><li/>
    	   	   	<li>Emissions: <span>{{emissions
    	   	   		}}</span><li/>  
    	   	   {{/each
    	   	   }}
    	   	   	</ul>
    	   	   
    	   	   	   <a {{bindAttr id="id"
                    }} {{action "edit"
                    }} class="btn btn-primary">Edit</a>
                
                    <a {{bindAttr id="id"
                    }} {{action "deleteTrip"
                    }} class="btn btn-danger">Delete</a>
    	   	   	
    	   	</dd>
    	   	<hr />
    	{{/each
    	}}
    	{% include 'shared/includes/pagination.html' %}
    </dl>
</script>
{% endblock %}

