{% load staticfiles %}

<div class="bannerContainer">
    <div class="container2">
        <div class="wt-rotator">
            <a href="#"></a>
            <div class="desc"></div>
            <div class="preloader"></div>
            <!--Ta koumpia  gia tin epilogi tiw foto-->
            <div class="c-panel">
                <div class="buttons">
                    <div class="prev-btn"></div>
                    <div class="play-btn"></div>
                    <div class="next-btn"></div>
                </div>
                <div class="thumbnails">
                    <ul>
                        <li>
                            <a href="{% static 'images/banner/1.jpg' %}" title="architecture"></a>
                            <a href="http://codecanyon.net/user/webtako" target="_blank"></a>
                        </li>
                        <li>
                            <a href="{% static 'images/banner/2.jpg' %}" title="3D abstract art"></a>
                            <a href="http://codecanyon.net/user/webtako" target="_blank"></a>
                            <p style="left:4px; top:34px; width:306px;">
                                <span class="cap-title">JQuery Banner Rotator</span>
                                <br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed sed elit eget purus consequat tempor eu ac mauris. Nulla facilisi.
                                Vivamus consectetur molestie ipsum ac sollicitudin.
                                Sed venenatis est sit amet nibh molestie vel pharetra velit commodo.
                                Ut eros orci, sollicitudin sit amet ultricies vitae, varius ac quam.
                                Pellentesque euismod.
                            </p>
                        </li>
                        <li>
                            <a href="{% static 'images/banner/3.jpg' %}" title="krazy kartoons"></a>
                            <a href="http://codecanyon.net/user/webtako" target="_blank"></a>
                            <p style="left:495px; top:100px; width:306px;">
                                <span class="cap-title">JQuery Banner Rotator</span>
                                <br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Ut tincidunt mi a lectus gravida pulvinar. Aliquam viverra cursus felis,
                                lobortis elementum tortor malesuada non. Suspendisse hendrerit tortor a
                                mauris auctor eu sodales metus laoreet.
                            </p>
                        </li>
                        <li>
                            <a href="{% static 'images/banner/4.jpg' %}" title="san francisco"></a>
                            <a href="http://codecanyon.net/user/webtako" target="_blank"></a>
                            <p style="left:4px; top:34px; width:306px;">
                                <span class="cap-title">JQuery Banner Rotator</span>
                                <br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed sed elit eget purus consequat tempor eu ac mauris. Nulla facilisi.
                                Vivamus consectetur molestie ipsum ac sollicitudin.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>