<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
        <title>{% block title %}Mobile Base Template{% endblock %}</title>
        
        {% load staticfiles %}
        
        <link rel="stylesheet" type="text/css" href="{% static "css/mobile_base.css" %}" />
        
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <!--<script src="http://cloud.github.com/downloads/emberjs/ember.js/ember-0.9.6.min.js"></script>-->
        <script src="{% static "scripts/ember/handlebars-1.0.0.beta.6.js" %}"></script>
        <script src="{% static "scripts/ember/ember.js" %}"></script>
        <script src="{% static "scripts/utils/util.js" %}"></script>
        <script src="{% static "scripts/app.js" %}"></script>
        
        {% block additionalScripts %}{% endblock %}
    </head>
    <body>        
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
